<div class = "well">
  <img src="https://robohash.org/<%= @robot.id %>">

  <h1><%= @robot.name %></h1>
  <p><strong>Location:</strong> <%= @robot.city %>, <%= @robot.state %></p>
  <p><strong>Birthdate:</strong> <%= @robot.birthdate %></p>
  <p><strong>Date Hired:</strong> <%= @robot.date_hired %></p>
  <p><strong>Department:</strong> <%= @robot.department %></p>
</div>
